.main {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  min-height: 145px;
  border: 3px solid black;
  color: black;
}

.imgBoxBig {
  position: relative;
  padding: 5px;
  width: -webkit-fill-available;
  height: 100%;
}

.imgBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.dataSection {
  position: relative;
  min-width: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
  padding-right: 10px;
  gap: 15px;
}

.bottomSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topSection {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.removeSection {
  padding: 5px;
  cursor: pointer;
}

.title {
  font-size: 19px;
  height: 38px;
  max-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price {
  font-size: 6px;
  color: #474747;
  text-decoration: line-through;
}

.promotionPrice {
  font-size: 16px;
}

.variantsSection {
  height: 24px;
  min-height: 24px;
  padding-left: 5px;
}

.variantText {
  font-size: 12px;
}

@media (min-width: 576px) {
  .imgBoxBig {
    width: 30%;
  }

  .dataSection {
    min-width: 70%;
    width: 70%;
  }

  .title {
    font-size: 24px;
    max-height: 48px;
    height: 48px;
  }

  .price {
    font-size: 10px;
  }

  .promotionPrice {
    font-size: 20px;
  }

  .variantText {
    font-size: 16px;
  }

  .variantsSection {
    height: 32px;
    min-height: 32px;
  }
}
