.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  transition: background ease-in-out 0.2s;
  cursor: pointer;
  gap: 20px;
}

.main:active {
  background: #a9a9a9;
  transition: background ease-in-out 0.2s;
}
