.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.body {
  padding-top: 105px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: black;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  scrollbar-color: black rgb(60, 60, 60);
  scrollbar-width: thin;
}

.title {
  font-size: 38px;
}

.dataSection {
  position: relative;
  width: 80%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navBar {
  width: 100%;
  height: min-content;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
}

.navTextBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.divisionBorder {
  border-bottom: 2px solid black;
}

.selected {
  background-color: black;
  color: white;
}

@media (min-width: 576px) {
  .navTextBox {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .divisionBorder {
    border-right: 2px solid black;
    border-bottom: none;
  }

  .navBar {
    height: 60px;
    flex-direction: row;
  }

  .navTextBox {
    font-size: 18px;
    padding: 0px 20px;
  }
}

@media (min-width: 1200px) {
  .navTextBox {
    font-size: 22px;
  }
}
