.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.body {
  padding-top: 95px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 45px;

  scrollbar-color: black rgb(60, 60, 60);
  scrollbar-width: thin;
}

.titleSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 34px;
}

.dataSection {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
}

.subSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.qrCode {
  position: relative;
  width: 100%;
  height: 100%;
}

.qrCodeBox {
  position: relative;
  width: 280px;
  height: 280px;
  padding: 30px;
  border: 3px solid #000;
}

.stepText {
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.subTitles {
  font-size: 20px;
  text-align: center;
}

.boxButton {
  width: 95%;
  font-size: 16px;
  text-wrap: nowrap;
}

@media (min-width: 375px) {
  .subTitles {
    font-size: 24px;
  }

  .stepText {
    font-size: 16px;
  }

  .boxButton {
    font-size: 18px;
  }
}

@media (min-width: 425px) {
  .boxButton {
    font-size: 20px;
  }
}

@media (min-width: 475px) {
  .boxButton {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .body {
    gap: 85px;
  }

  .qrCodeBox {
    width: 400px;
    height: 400px;
    padding: 50px;
  }

  .dataSection {
    width: 700px;
  }

  .titleSection {
    gap: 50px;
    font-size: 40px;
  }

  .subTitles {
    font-size: 28px;
  }

  .stepText {
    font-size: 20px;
  }

  .boxButton {
    width: 500px;
  }
}
