.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.body {
  padding-top: 55px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  scrollbar-color: black rgb(60, 60, 60);
  scrollbar-width: thin;
}

.descriptionSection {
  width: 100%;
}

.descriptionText {
  width: 60%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  color: black;
  padding: 10px;
}

.buySection {
  padding: 40px 0px;
}

.commentSection {
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
  padding-bottom: 30px;
  gap: 20px;
}
