.main {
  position: relative;
  width: 600px;
  height: 600px;
}

.priceBoxBlackCap {
  position: absolute;
  left: 30px;
  bottom: 203px;
  z-index: 1;
}

.priceBoxWhiteCap {
  position: absolute;
  right: 42px;
  bottom: 227px;
  z-index: 1;
}
