.cart {
  position: relative;
  cursor: pointer;
}

.redBox {
  position: absolute;
  background-color: #eb001b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 65%;
  border-radius: 100%;
  top: -7px;
  right: -7px;
}

.text {
  font-style: normal;
  color: white;
}
