.main {
  position: relative;
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}

.paddingImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;

  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
}

.paddingSelectImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;

  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
}

.imgBox {
  position: relative;
  width: 210px;
  height: 315px;
}

.selectImgSection {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5px;

  direction: rtl;
  scrollbar-color: black rgb(60, 60, 60);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.selectImgBox {
  position: relative;
  width: 50px;
  height: 75px;
  cursor: pointer;
}

.selectedImg {
  -webkit-box-shadow: inset 0px 0px 0px 2px #000;
  -moz-box-shadow: inset 0px 0px 0px 2px #000;
  box-shadow: inset 0px 0px 0px 2px #000;
}

.passImgLeftSection {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  background: linear-gradient(90deg, #d9d9d9 0%, #d9d9d900 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  cursor: pointer;
  z-index: 1;
}

.passImgRigthSection {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  z-index: 1;
  background: linear-gradient(90deg, #d9d9d900 0%, #d9d9d9 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  cursor: pointer;
}

@media (min-width: 340px) {
  .main {
    height: 350px;
  }

  .imgBox {
    width: 230px;
    height: 345px;
  }
}

@media (min-width: 370px) {
  .main {
    height: 400px;
  }

  .imgBox {
    width: 260px;
    height: 390px;
  }
}

@media (min-width: 420px) {
  .main {
    height: 480px;
  }

  .imgBox {
    width: 310px;
    height: 465px;
  }
}

@media (min-width: 470px) {
  .main {
    height: 544px;
    justify-content: flex-start;
  }

  .imgBox {
    width: 360px;
    height: 540px;
  }
}

/* Terminar responsividade */

@media (min-width: 992px) {
  .main {
    gap: 40px;
  }

  .selectImgBox {
    width: 70px;
    height: 105px;
  }

  .selectImgSection {
    padding-left: 10px;
  }

  .paddingImg {
    padding: 2px 45px;
  }
}
