.main {
  position: relative;
  width: 100%;
  height: 544px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  overflow: hidden;
}

.paddingImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 45px;

  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
}

.paddingSelectImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;

  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
}

.imgBox {
  position: relative;
  width: 360px;
  height: 540px;
}

.selectImgSection {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;

  direction: rtl;
  scrollbar-color: black rgb(60, 60, 60);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.selectImgBox {
  position: relative;
  width: 70px;
  height: 105px;
  cursor: pointer;
}

.selectedImg {
  -webkit-box-shadow: inset 0px 0px 0px 2px #000;
  -moz-box-shadow: inset 0px 0px 0px 2px #000;
  box-shadow: inset 0px 0px 0px 2px #000;
}

.passImgLeftSection {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  background: linear-gradient(90deg, #d9d9d9 0%, #d9d9d900 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  cursor: pointer;
  z-index: 1;
}

.passImgRigthSection {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  z-index: 1;
  background: linear-gradient(90deg, #d9d9d900 0%, #d9d9d9 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  cursor: pointer;
}

/* @media (min-width: 425px) {
  .imgBox {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .imgBox {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .imgBox {
    height: 450px;
  }
} */
