.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 5px;
}

.boxText {
  font-size: 18px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 22px;
}
